body {
    background-color: #1e781e;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 26px; 
    color: #FFFFFF; 
    text-align: center; 
    font-family: 'Roboto', sans-serif; 
    margin-top: 4%;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.central-box {
    height: 71vh;
    width: 78vw;
    border: 1px;
    background: url('path/to/your/background-image.jpg') no-repeat center center;
    background-size: cover;
    background-color: #171932; 
    margin-top: 3%;
    
}
